{% extends "layout.html" %}
{%block body%}
<style>
    .jumbotron{
        background-color: blue;
        color: white;
        border: 2px solid red;
        margin: 5px;
        padding: 20px;
    }
</style>

    <div class="jumbotron text-center" >
        <h3 style="font-family:verdana;"> Yemek Tariflerim</h3>
        <p> Eğitim Sonu Projesi Geliştiriliyor... </p>
    </div>
    <div class="content text-center" >
        <img src="static/headline.jpg" class="img-fluid" alt="Responsive image">
    </div>
   
{%endblock body%}
